$primary-font: "Roboto", sans-serif;
$title-font: "Libre Baskerville", serif;
$subtitle-font: "Noto Serif Variable", serif;
$card-color: linear-gradient(135deg, rgba(66, 165, 245, 0.3), rgba(30, 136, 229, 0.3));
